<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVC10:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVC10_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVC10" />
          <element id="library" level="module" name="PHP" module-name="SpringMVC10" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="lib16" />
          <element id="library" level="project" name="org.wisdom-framework:mysql-connector-java:5.1.34_1" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/junit-4.3.jar" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="SpringMVC10/web/Web" />
    </root>
  </artifact>
</component>